.demo-table {
  width: 100%;
}

.mat-column-title {
  width: 15% !important;
  flex: 0 0 35% !important;
}

.mat-column-body {
  width: 15% !important;
  flex: 0 0 50% !important;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-mdc-row .mat-mdc-cell {
  border-color:lightgray;
  cursor:default;
}